body {
    font-size: 2rem;
}
.navbar {
    padding: 1rem 2.5rem;
    background-color: orange;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.nav-link{
    margin: 0 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
}
.nav-link:hover {
    
    color: white;
    background-color: black;
    border-radius: 10px;
}

.main-section h1 {
    text-align: center;
    padding: 2rem;
}
.main-section h3 {
    padding: 1rem;
}

.course-items {
    padding: 0rem 2rem;
}

.courses {
    
    margin:0 0 50px 10px;
}
.course-main {
    margin: 0 0 4rem 1.5rem;
}
.course-main a{
    text-decoration: none;
    color: red;
}
.course-items a{
    text-decoration: none;
}
.main-section a {
    text-decoration: none;
}

.course-items ul li {
    margin-bottom: 2.5rem;
}

.footer-txt {
    color: orange;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 0 2rem 0;
}
.footer-txt a{
    text-decoration: none;
    color: red;
    font-weight: 700;
}
